@charset "UTF-8";
/* global page */
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.pubSite{
    width: 100%;
    max-width: 100%;
}
.pubSite img{
    width: 100%;
    max-width: 100%;
} 
.pubSite p{
    font-size: 0.2em;
}
.pubSite h6 a{
    color: #181818;
}
.pubSite h6 a:hover{
    color: #181818;
    text-decoration: underline;
}
/* header */
header{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 5px 35px 5px 35px;
    align-items: center;
    flex-wrap: wrap;
}
.headerGauche{
    /* border:1px solid yellow; */
    flex:1;
}
.headerGauche a{
    font-size: 1.5em;
    margin-right: 15px;
    color: #fff;
}
.headerGauche a:nth-child(1):hover{
    color: #4A66A0;
}
.headerGauche a:nth-child(2):hover{
    color:red;
}
.headerGauche a:nth-child(3):hover{
    color: #1DA1F2;
}
.headerDroite{
    flex:1;
    text-align: right;
}
.headerDroite .formSearch{
    border:3px solid #fff;
    border-radius:5px 0px 0px 5px;
}
.headerDroite .btnSearch{
    border:3px solid #fff;
    border-radius:0px 5px 5px 0px;
}
.headerDroite .btnSearch:hover{
    background-color:#00FFFF;
}
/* menu deroulant */
.navbarMenu{
    padding:0px 35px 0px 35px;
    margin:15px 0px 15px 0px;
}
.navbarMenu .navbar-brand{
    font-size: 1.8em;
    font-family:'Berkshire Swash', cursive;
} 
.navbarMenu .nav-link,.navbarMenu .dropdown-item{
    color: #333;
    font-family:'Kaushan Script', cursive;
    text-transform: uppercase;
}
.navbarMenu .nav-link:hover{
    border-bottom: 1px solid #333;
    color: #333;
}
.navbarMenu .dropdown-item:hover{
    background-color: #333;
    color: #fff;
}

/* -----------------------------------------------------sectionAccueil----------------------------------- */
.fluidAccueil{
    background-color: #D3D3D3;
    /* border:1px solid red; */
   /* height: 700px; */
}
.colAccueilGauche,.colAccueilDroite{
    
   
}
.colAccueilGauche{ /*div du guche*/
    /* border:1px solid yellow; */
    /* padding: 5px; */
}
.rowColAccueilGaucheElement{
   padding: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.colAccueilGaucheElementVideo{
    /* height: 200px; */
    background-color: #fff;
    margin-bottom: 10px;
    flex:1;
    text-align: center;
}
.colAccueilGaucheElementVideo:nth-child(1) h2{ /*element 1*/
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0;
}
.colAccueilGaucheElementVideo:nth-child(1) p{
    font-size: 1em;
}
.colAccueilGaucheElementVideo:nth-child(1) .p1{
    margin-bottom: 0;
}
.colAccueilGaucheElementVideo:nth-child(1) .iframe{
    width: 900px;
    height: 400px;
    border:1px solid #D3D3D3;
}
.colAccueilGaucheElementVideo:nth-child(1) .p4{
    text-transform: uppercase;
}
.colAccueilGaucheElementVideo .p4 a:nth-child(1):hover{
    border-bottom:1px solid blue;
}
.rowAccueilBtnSociaux{
    margin-bottom: 10px;
}
.colAccueilGaucheElementVideo{
    /* height: 600px; */
}
.colAccueilGaucheElementVideo h3{
    border-bottom:1px solid red;
    text-align: left;
    text-transform: uppercase;
    font-family:'Kaushan Script', cursive;
    margin-bottom: 0;
    font-size: 1.2em;
}
.colAccueilGaucheElementVideo h3 a{
    background-color: red;
    color: #fff;
}

.colHit{
    /* height: 400px; */
    /* border:1px solid yellow; */
    padding: 5px 2px 5px 2px;
    background-color: #D3D3D3;
}
.colHit p{
    /* border:1px solid green; */
    margin-bottom: 0;
    text-transform: uppercase;
    background-color: #fff;
    padding: 5px 2px 5px 2px;
    
}
.colHit p a:hover{
    border-bottom:1px solid black;
}
.colHit .photo{
    width: 100%;
    max-width: 100%;
    padding:10px 0px 10px 0px;
    overflow: hidden;
}
.colHit .photo img{
    width: 100%;
    max-width: 100%;
    transition: 0.75s;
    /* border:1px solid red; */
}
.colHit .photo:hover img{
    transform: scale(1.2);
    
}
.colAccueilDroite{ /*div du droite*/
    
}
.rowColAccueilDroiteElement{
    padding: 5px;
   
}
.colAccueilDroiteElementPub{
   /* height: 200px; */
   /* line-height: 200px; */
   border:1px solid #D3D3D3;
   background-color: #fff;
   margin-bottom: 2px;
   text-align: center;
   /* display: flex;
   align-items: center;
   justify-content: center; */
   text-align: center;
   padding: 2px;
  
}
.colAccueilDroiteElementPub h5{
    text-transform: uppercase;
    background-color:#333;
    color: #fff;
    margin-top: 0;
}
.colAccueilDroiteElementPub h5 a{
    color: #fff;
}
.colAccueilDroiteElementPub h5 a:hover{
    text-decoration: underline;
}
/* -------------------------------------------------------footer h1------------------------------------- */
.footer{
    background-color: #333333;
    color: #fff;
    padding:15px 0px 15px 0px;
   
}
.footer a{
    color: #fff;
}
.footer a:hover{
    color: rgba(128,128,128.5);
}
.footerElement{
    border-bottom: 1px solid white;

}
.footerElement h1{
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px 3px #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputNewsLetter{
    border-radius:5px 0px 0px 5px;
}
.btnNewsLetter{
    border-radius:0px 5px 5px 0px;
}
.inputNewsLetter,.btnNewsLetter{
    border:3px solid #fff;
}
.footerElement p{
    text-align: center;
}
.footerElement ul {
    display: inline-block;
    margin-top: 10px;
}.footer figure{
    text-align: center;
    margin-top: 15px;
}
.footer figure a{
    font-size: 1.8em;
    margin-right: 15px;
}
.footer figure a:nth-child(1):hover{
    color: blue;
}
.footer figure a:nth-child(4):hover{
    color: green;
}
.footer figure a:nth-child(2):hover,.footer figure a:nth-child(3):hover{
    color: red;
}
/* ----------------------------------------les media queries -------------------------------------------------*/
@media all and (max-width:1024px){
    /* entete */
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .formSearch{
        width: 170px;
    }
    /* section accueil  */
    
    /* footer */
    .footer{
        text-align: center;
    }
    .formNewsLetter{
        padding-bottom: 10px;
        display: flex;
       justify-content: center;
    }
    .inputNewsLetter{
       width: 170px;

    }
}